<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
	<link rel="stylesheet" href="main.css">
<title>よんななさんスロット</title>
</head>
<body class="background">
	<article class="header">
		<header>
			<span class="title"><h1>よんななさんスロット</h1></span>
		</header>
	</article>
	<div id="app">
		<article class="slot">
			<div class="container">
				<div class="row">
					<div class = "col border">
						<img :src="slot1.src" alt="よんななさん" />
					</div>
					<div class = "col border">
						<img :src="slot2.src" alt="よんななさん" />
					</div>
					<div class = "col border">
						<img :src="slot3.src" alt="よんななさん" />
					</div>
					<div class="w-100"></div>
					<div class="col-md-2"></div>
					<div class="col-md-8 slotbutton">
						<button type="button" class="btn btn-primary btn-block" v-on:click="start" v-if="isRotate === false">回す</button>
						<button type="button" class="btn btn-primary btn-block" v-on:click="stop" v-if="isRotate === true">止める</button>
					</div>
					<div class="col-md-2"></div>
				</div>
			</div>
		</article>
		<div>
			<b-modal v-model="modalShow" centered title="やったね！">
				おめでとうございます！
				<template slot="modal-footer" slot-scope="{ ok }">
					<b-button @click="ok()">
						OK
					</b-button>
				</template>
			</b-modal>
		</div>
	</div>
    <script src="https://unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
	<script src="main.js"></script>
</body>
</html>
